h1{
    color: hotpink
}
h2{
    color: cyan
}
<head>
  <style>
    body { background-color: #FF0000; }
  </style>
</head>
<body>
</body>
<head>
  <style>
    div { 
      width: 50%;
      height: 200px;
      background-color: #00FF00; 
    }
  </style>
</head>
<body>
  <div></div>
</body>